body{
    background-image: url('./images/prism\ copy.png');
    margin: 0;
    height: 
}

#indexBod{
    height: 1000px;
}


#topBar{
    background-color: #ffffff;
}

#header{
    height: 90px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    width: 960px;
    margin: 0 auto;
}

#name{
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    height: 90px;
    margin-left: 232px;
    position: relative;
    right: 230px;

}

#name h1{
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

#navButtons{
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-top: 30px; 
    word-spacing: 5px;
}

a{
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

#picture{
    background-image: url('./images/me\ copy.jpg');
    height: 200px;
    width: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  float: left;
  margin-right: 20px;
}

#aboutMeHeader{
    border-bottom: 2px solid #cccccc;
    padding: 10px;
    color: #4aaaa5;
}

#aboutMe{
    width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    position: relative;
    top: 25px;
}

#writtenContent{
    padding:25px;
    line-height: 1.6;
    
}

footer{
    background-color: #666666;
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 7px solid #4aaaa5;
}

footer h5{
    position: relative;
    top: 30px;
}

/* CONTACT HTML CSS ................................ */

#contactBody{
    height: 1000px;
}

#jumbotron{
    height: 600px;
    width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 30px;
}

#divHeader{
    width: 910px;
    border-bottom: 2px solid #cccccc;
    margin: 0 auto;
    color: #4aaaa5;
    padding: 10px;
}

#contactForm{
    width: 910px;
    margin: 0 auto;
    color: #777777;
    font-family: font-family: 'Georgia', Times, Times New Roman, serif;
}

input{
    width: 910px;
    padding: 5px;
}

textarea{
    width: 910px;
}

#submit{
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 8px;
    width: 90px;
    height: 40px;
    margin-top: 10px;
}

/* PORTFOLIO HTML CSS ................................ */

#portfoliobod{
    height: 1200px;
}

#jumbotronPortfolio{
    height: 830px;
    width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 30px;
}

#hangman{
    background-image: url('./images/download\ copy.jpeg');
    height: 200px;
    width: 230px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  float: left;
  left: 20px;
  top: 20px;
}

#rpgGame{
    background-image: url('./images/download\ copy.jpeg');
    height: 200px;
    width: 230px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  left: 50px;
  top: 20px;
  float: left;
}

.banner{
    width: 230px;
    height: 50px;
    background-color: #4aaaa5;
    position: relative;
    top: 140px;
    color: #ffffff;
    text-align: center;
}

.banner p{
    position: relative;
    top: 15px;
}

#trivia{
    background-image: url('./images/download\ copy.jpeg');
    height: 200px;
    width: 230px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 50px;
  left: 20px;
  float: left;
}

#widget{
    background-image: url('./images/download\ copy.jpeg');
    height: 200px;
    width: 230px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  float: left;
  top: 50px;
  left: 50px;
}

#rockpaper{
    background-image: url('./images/download\ copy.jpeg');
    height: 200px;
    width: 230px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  float: left;
  top: 80px;
  left: 20px;
}

#projects1{
    float: left;
}

#projects2{
    clear: both;
}

#projects3{
    clear: both;
}
#divHeaderContact{
    width: 910px;
    border-bottom: 2px solid #cccccc;
    margin: 0 auto;
    color: #4aaaa5;
    padding: 10px;
}

/* ------------MEDIA Quieries ----------------*/

@media screen and (max-width: 980px){
    #navButtons {margin-right: 40px;
    }
    #aboutMe{
        width:700px;
        margin-left: 10px;
    }
    #jumbotronPortfolio{
        width: 600px;
        margin-left: 30px;
    }
    #divHeader{
        width: 560px;
    }
    #header{
        width: 930px;
    }
    #jumbotron{
        width: 600px;
        margin-left: 50px;
    }
    input{
        width: 500px;
    }
    #messageBox{
        width: 500px;
    }
    #contactForm{
        width: 600px;
        padding: 20px;
    }
    #divHeaderContact{
        width: 580px;
    }
}

@media screen and (max-width: 768px){
   #header{
       width: 760px;
   }
   #aboutMe{
       margin-left: 33.5px;
   }
   #portfoliobod{
       width: 768px;
   }
   #jumbotronPortfolio{
    width: 700px;
}
#projects1{
    margin-left: 75px;
}
#projects2{
    margin-left: 75px;
}
#projects3{
    margin-left: 75px;
}
#divHeaderContact{
    width: 670px;
    margin-left: 0;
}
#jumbotron{
    width: 700px;
    margin-left: 30px;
}

   
    
}

@media screen and (max-width: 640px){
    #indexBod{
        width: 640px;
    }
    #name{
        width: 640px;
    }
    #navButtons{
        float: none;
        margin-top: 0px;
    }

    #aboutMe{
        width: 600px;
        margin-left: 15px;
        margin-top: 40px;
    }
    #navButtons{
        background-color: white;
        width: 640px;
        height: 137px;
        text-align: center;
        
    }

    #divHeader{
        width: 380px;
    }
    #header{
        width: 640px;
    }
    #topBar{
        width: 640px;
    }
    #jumbotronPortfolio{
        width: 400px;
        height: 1300px;
        margin-top: 60px;
        margin-left: 110px;
    }

    #portfoliobod{
        width: 500px;
        height: 1800px;
    }

    #rpgGame{
        margin-top: 20px;
        left: 20px;
        
    }

    #widget{
        margin-top: 20px;
        left: 20px;
    }

    #divHeaderContact{
        width: 480px;
    }

    #jumbotron{
        width: 500px;
        margin-top: 70px;
        margin-left: 60px;
    }

    input{
        width: 400px;
    }
    #messageBox{
        width: 400px;
    }
}

